/*Autor: Dariel J. Ramos*/
/*Propiedades del fondo, estilo de letra */
body {
  background-color: #41b3a3;
     background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    font-family: 'Montserrat';
    font-size:22px;
    font-weight: 10;
   
 }
 /*Altera la altura del nav bar */
 .navbarAlign{
  height:10%;
 }
 /*Se encarga de manipular el titulo de Mama Mia */
 .MMTitle{
  justify-content:center;
  display: flex;
  
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 20px;
  font-size: 25px;
  /*padding:5% 40% 5% 70%;*/
   margin:2.0 auto ;
  
 }
 /* Cambia el color de todos los botones,le añade sombra, cambia tamaño de letra*/
 .btn{
  font-size:22px;
  filter: drop-shadow(0 5px 10px #042c27);
  background-color: #0c3a33;
  }
 /* Cambia el color de todos los botones al pasar el cursor por encima*/
 .btn:hover{
  background-color: #0c3a33;
 }
 .dropdown {
  
  display: inline-block;
 }
  
 .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
 }
  
 .dropdown:hover .dropdown-content {
  display: block;
 }
 /* Cambia el color del botones para mostrar el carrito */
 .verCarrito{
 z-index:4;
  background-color:#0c3a33;
  border-radius:25px;
  
 }
 .verCarrito:hover{
  background-color:#091f1b;
 }
 /* posicion boton contenedor items individuales*/
 .positionItemButton{
    left:71%;
    z-index:3;
   /* margin:0% 0% 2% 0%;*/
 }
 /* posicion boton  Regresar de combos*/
 .positionBackButton{
        font-size:20px;
        z-index:3;    
        }
 .positionBackButton:hover{
    background-color:#091f1b; 
  }
   /*posicion boton  Siguiente de combos*/    
 .positionNextButton{
    font-size:22px;  
    z-index:3;  
 }
 .positionNextButton:hover{
      background-color:#091f1b; 
        }
  
 /* posicion boton Checkout , color*/
  .propertiesCheckoutButton {
  font-size:22px;
  background:grey;
  
   z-index:3;
         }
 .CheckoutButton {
  font-size:22px;
  background:grey;
   z-index:3;
                 }
  /* posicion boton Checkout , color*/      
 .checkout2{
  background:#808080;
  font-size:22px;
  
 } 
 /* posicion fila que guarda el nombre de la estacion y la oferta mostrada*/
 .station-offer-label{
 color:white;
 font-size:30px;
 font-weight: bold 5px;
 padding:2% 5%;
  background-color:#0b463e;
  border-radius:5px;
 }
 /*columna que contiene todas las opciones y la caja blanca de los combos/items*/
 .custom-b-row{
  position:relative;
  height:65%;
   background-color:#0b463e;
  padding:2% 1%;
  margin:-1% -20% ;
  border-radius:5px;
  
 }
 .custom-b-col{
  position:relative;
  background-color:#ffffff;
  border-radius:5px;
  
 }
 .paddingCheckBox{
  
  padding-right:200px;
 }
 .optionButton{
  filter: drop-shadow(0 5px 10px #042c27);
  border-width:30px;
  padding: 0% 15%;
  margin:20% 20%;
  background-color:#0c3a33;
  border-radius:25px;
  
 }
 .optionButton:hover{
 background-color:#091f1b; 
 }
 .optionButton2{
  padding: -5% -10%;
 }
 .optionButton2:hover{
  padding: -10% -20%;
  background-color:#317051;
 }
 /*mueve el componente 5% a la derecha*/
 .margin-left{
 margin-left:5%;
 }
  
 /* posicion lista de opciones con checkbox del contenedor blanco*/
 .list1{
 width:100%;
  height:90%; 
  overflow: auto;
  }
  
 /* posicion lista dentro del contenedeor del carrito de compras*/
 .list2{
   max-height:16rem; 
   overflow: auto;
  
 }
 /* posicion campos dentro del formulario*/
 .listForm{
 height:60%; 
 overflow: auto;
 margin:0% auto 0% auto;
 min-width:85%
  
 }
  
 /* pone invisible la division que contenga la clase .hideContainer*/
 .hideContainer { display: none;}
 /*++++++++++++++++++++++++ Propiedades Generales: barra de escrolear+++++++*/
 ::-webkit-scrollbar {
  width: 10px;
 }
 /* Scroll Bar*/
 ::-webkit-scrollbar {
  width: 15px;
 }
 /* Track */
 ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  background: #e1e2e2;
  border-radius: 5px;
 }
 /* Handle */
 ::-webkit-scrollbar-thumb {
  background: rgb(12, 134, 114);
  border-radius: 5px;
 }
  
 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
  background: rgb(9, 95, 84);}
  
  .redButton{
    background-color:rgb(97, 22, 22);
  }
 
 