body{
    margin: 0;
    background-color: #41b3a3;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    font-family: 'Montserrat';
}

.registration-container{
  background-color: #d8dee4;
  color: #0c3a33;
  padding: 20px;
  width: 40%;
  border-radius: 5px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.registration-container h1{
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 10px;
  text-align: center;
}

.form-group{
  padding: 10px;
}

#register-button{
  position: relative;
  margin: auto;
  text-align: center;
  background-color: #0c3a33;
  color: #d8dee4;
  font-size: 22px;
  filter: drop-shadow(0 5px 10px #042c27);
  width: 250px;
  display: flex;
  justify-content: center;
  transform: translate(-1%, 0);
}

#register-button:hover{
  background-color:  #051b18;
}

#password-help-block{
  color: white !important;
}



