<html>
   <head>
  
       <title>Mama Mia - Ordena</title>
      
 
 
    <meta charset = "utf-8">
      <!--Montserrat font dependency-->
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
 
      <!--Axios dependency (for HTTP requests)-->
      <script src ="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
 
      <!--Vue dependency-->
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
 
      <!-- Bootstrap Vue dependencies-->
      <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
      <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
      <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
      <script src="https://unpkg.com/vue@latest/dist/vue.js"></script>
      <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
      <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
       <link rel = "stylesheet"   href="../css/ordersystem.css" >
 
   </head>
   <body>
                   
<div id="menu-list">
 
<!--++++++++++++++++++++++++++++++++++BARRA DEL TOPE  +++++++++++++++++++++++++++++++++++++++++++++-->
 <div id= "apagarPagina_Principal">
   <div >
     <b-navbar type="dark" toggleable="lg" variant="light" class="navbarAlign " >
     <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
              <b-collapse id="nav-collapse" is-nav  style="z-index:3">
     
       <b-navbar-nav>
             <div class="m-1">
            <div id= "apagarHomeButton">
             <b-button pill v-b-tooltip.hover title="Presione para regresar a la página principal" class="moverBotonPantallaPrincipal" href = "../index.html">
             <b-icon icon="house-door" aria-hidden="true"></b-icon> Página Principal</b-button>
             </div>
              <div id= "apagarRegresarButton" class=  " hideContainer " >
                <b-button pill  v-b-tooltip.hover title="Presione para regresar a la página anterior" v-on:click="pantallaItemCombo() "   class="text-center " >
                <b-icon icon="arrow-left-short" aria-hidden="true"></b-icon>  Regresar</b-button>
              </div>
              </div>
       </b-navbar-nav>
 
        <!-- Boton Desplegable para Elegir Estación -->
       <b-navbar-nav >
          <div id= "apagarStationButton">
             <b-nav-item-dropdown   text="Estaciones" left  class=" m-3 optionButton" v-b-tooltip.hover title="Presione para elegir la estación de comida"  >
              <div v-for ="estacion in Stations2" :key="estacion.station_name">
                       <template >                                 
                        <b-dropdown-item  class="Stations" v-on:click=" borrarCheckBoxes();checkStation(estacion.station_name,estacion.station_id );borrarPreview()"
                         v-bind:id= "estacion.station_id" name="chEstacion" class="choose" > 
                                      
                          {{estacion.station_name}}</b-dropdown-item>
                          <b-dropdown-divider></b-dropdown-divider>                  
                       </template>
               </div>
             </b-nav-item-dropdown>
           </div>
         </b-navbar-nav >
               <!--  Boton Desplegable para Elegir ofertas -->
             <b-navbar-nav >
             <div id= "apagarOfferButton" >
               <b-nav-item-dropdown  text-variant="dark" text="Ofertas" left class=" m-5 optionButton" v-b-tooltip.hover title="Presione para elegir entre ofertas en combo o individual" >
                       <b-dropdown-item  class=" optionButton2" v-on:click="activarCombo()"  > Combo  </b-dropdown-item>
                    <b-dropdown-divider> </b-dropdown-divider>
                           <b-dropdown-item v-on:click="activarIndividual()" > Individual 
                          
               </b-nav-item-dropdown>
               </div>
 
       </b-collapse>
             </b-navbar-nav>
 
      <!--- <b-navbar-nav >
              <div id="t1">
             <h1 class = "MMTitle" >Mama Mia</h1></div>  
       </b-navbar-nav  >-->
 
       <!--+++++++++++++++++++++++++++++++++++++++++++contenedor: CARRITO DE COMPRAS +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
       <b-navbar-nav class="ml-auto">
             
         <b-button v-b-toggle.sidebar-right backdrop variant class="verCarrito"  >Carrito <b-icon icon="cart" aria-hidden="true"></b-button>
           <b-sidebar id="sidebar-right" width='40%' title="Carrito" right shadow  backdrop bg-variant="dark" >
             <div class="px-3 py-20">
                    
              <b-card group columns>
 
                 <b-card class=" text-center " text-variant="white" style="background-color:#0c3a33;">
                   <b-card-text style="font-size: 36px"> CARRITO  </b-card-text>
                         
                   <b-card class="card m-2" text-variant="dark" >  
                           
                    <!-- Items-Combos Elegidos-->
                     <b-list-group   id="cart" class="list2">
                        <li v-for="c1 in ShoppingCart"  :key="c1.pedido">
                              
                          <b-input-group >
                             <b-input-group-prepend>
                            {{c1.p_cantidad}}x {{c1.pedido}}
                             </b-input-group-prepend>
                            
                             <b-form-input  size="sm" style="margin:1px;opacity:0" disabled></b-form-input>
                                <b-input-group-append>
                                   <div v-if= "c1.p_tipo != 'combo'">
                                    <b-form-input type="number"  v-model="c1.p_cantidad" :formatter="formatQuantity" :state="checkQuantityBox(c1.p_cantidad)" maxlength="3" v-on:click="disableCheckOut()" name="countBox" id="c1.p_id" style="width:100;" size="default" min="1" max="50" step="1" pattern="\d*"></b-form-input>
                                   </div>
                                                                        
                                  <b  style="margin:5px 0px 0px 1px"><b>$ {{c1.p_precio}}</b>
                                  <b-img   style="margin:0px 0px 0px 4px" src="../images/xButton.png" alt="Delete"  v-on:click="borrarOrden(c1.pedido,c1.p_descripcion)" width="24" height="24"></b-img>
                               </b-input-group-append>
                              </b-input-group>
 
 
                               <div style= "font-size:17px" class="text-left">
                               {{c1.p_descripcion}} <br>
 
                                 <div id="carritoDrinksInfo" class="hideContainer">      {{c1.p_bebida}}   </div>
                               </div>
                               <hr>
                        </li>
                       
                      
                      </b-list-group >
                    </b-card>      
                 </b-card>
                 <b-card class=" text-right card m-1 " text-variant="dark">
                   <div v-if ="subTotal == 'NaN'"     >
                         <b-card-text > Subtotal : <b> $ 0.00</b> </b-card-text>
                         <b-card-text> Envío : <b> $ {{deliveryFee[0]}} </b> </b-card-text>
                        <b-card-text>Ivu({{getTax}}%) :<b> $ 0.00</b> </b-card-text>
                        <hr>
                        <b-card-text> Total :<b>  $ 0.00  </b> </b-card-text>
                   </div>
 
                   <div v-if ="subTotal != 'NaN'"     >  
                   <b-card-text > Subtotal : <b> $ {{subTotal}}</b> </b-card-text>
                   <b-card-text> Envío : <b> $ {{deliveryFee[0]}} </b> </b-card-text>
                   <b-card-text>Ivu({{getTax}}%) :<b> $ {{ivuPrice}}</b> </b-card-text>
                   <hr>
                   <b-card-text> Total :<b>  $ {{total}}  </b> </b-card-text>
                    </div>
                 </b-card>
                  <!--  Boton debajo del carrito de compras llamado Checkout-->
                 <b-card align="center">
                 <b-button pill   id="checkButton3" v-on:click="pantallaForm()" class="checkout2" disabled> Checkout </b-button>  
                 </b-card>                           
         
             </div>
            </b-sidebar>
        </b-navbar-nav>
 
 
     </b-navbar>
   </div>
 
 </div>
        
       <b-container>
            <!--  Fila verde encima del contenedor de las opciones de combos-->
          <b-row  class="text-center station-offer-label" style="margin:1% auto;z-index:-1">  
                <b-col class="hideContainer" style="text-transform: uppercase"id="titulo_Estacion"><h1  >Primera Estación </h1>  </b-col>
                <b-col class="hideContainer" style="text-transform: uppercase" id="titulo_Oferta"> <h1  > Oferta</h1>  </b-col>
                <b-col class="hideContainer"  style="text-transform: uppercase" id="titulo_Formulario" > <h2 > Información de envío</h2>  </b-col>
               
          </b-row>
 
          <b-row class="text-left custom-b-row "  style="margin: 1% 0%;heigth:100%">   
               <b-col class="custom-b-col ">
              <b-card-group >
 
 <!--+++++++++++++++++++++++++++++++++++++++++++++ITEMS CONTAINER++++++++++++++++++++++++++++++++++++++++++++++++++++++++--> 
           <div id="ItemsContainer" class="hideContainer" >
                 <br> <!-- titulo contenedorr y buscador de articulos individuales-->
                     <div class="margin-left">      
                   <h4 id="itemDesc" >  Tenemos las siguientes opciones disponibles:</h4>
                            <b-input-group >
                           <b-input-group-prepend is-text>
                           <b-icon icon="search" aria-hidden="true"></b-icon> </b-button>
                        
                           </b-input-group-prepend>
                             <input type="text" v-model="searchItems" placeholder="Buscar artículo.."/>             
                       </b-input-group>
 
                   
                    </div>
             <b-card-group deck >
               <b-card style="height:20rem;min-width:40rem" border-variant="light">
                  <div v-if="Items!=null">
                 <b-list-group flush class="list1" >
 
                   <div v-for="c1 in filteredListI" :key="c1.item_name" >                          
                   <template > 
                     <b-list-group-item  style="border:white" >
                     <b-form-checkbox  name="checkItems" :value ="c1.item_id"> {{c1.item_name}}  <b>  ${{c1.item_price}}</b>  </b-form-checkbox>  
                   </b-list-group-item>              
                   </template>
                   </div>
                                      
                 </b-list-group>
                 </div>
               </b-card>
 
               <b-card align= "center"border-variant="light">
                     <b-button pill  v-b-tooltip.hover title="Presione para añadir al carrito"
                     v-on:click="añadirItems();borrarCheckItems()"  class="text-center positionItemButton"  >Añadir al carrito</b-button>
                   <br>
                   <br>
                   <b-button pill  id="checkButton1" v-on:click="pantallaForm()" class="CheckoutButton" disabled> Checkout </b-button>
               </b-card>
             </b-card-group>
 
             </div>
<!--+++++++++++++++++++++++++++++++++++++++++++++COMBOS CONTAINER++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
 <div id="CombosContainer"> 
 
        <div id="apagarCombo_Cuadro" class="hideContainer()">
        <br>
         <!-- titulo contenedor y buscador de combos-->
                   <div class="margin-left">
                 <h4 id="comboDesc" >Elige un combo :</h4>
                       <b-input-group >
                           <b-input-group-prepend is-text>
                           <b-icon icon="search" aria-hidden="true"></b-icon> </b-button>
                           </b-input-group-prepend>
                       <input type="text" v-model="searchCombos" placeholder="Buscar combos.."/>                     
                       </b-input-group>
   
                   </div>              
              <b-card-group deck   >
                     <!-- lista de combos-->
                   <b-card   border-variant="light" style="height:18rem;min-width:40rem" >                                                                                      
                      <div v-if="Combos!=null">
                       <b-list-group  flush class="list1">
                           <div v-for="c1 in filteredListC" :key="c1.combo_name" >                          
                          <template >
                        
                        <b-list-group-item style="border:white">
 
                         <b-form-checkbox @change="borrarComboAnterior(c1.combo_id )"   size="lg"  name="chCombo"  :value ="c1.combo_id" >
                         {{c1.combo_name}}<b> $ {{c1.combo_price}} </b>
                         </b-list-group-item>
                           </b-form-checkbox> 
                                                           
                         </template> 
                         </div>
                       </b-list-group>
                       </div>            
                   </b-card>
                     <!-- botones del contenedor combo-->
                     <b-card align= "center" border-variant="light" style="height:18rem;min-width:10rem" >
                         
                     <b-button  pill v-b-tooltip.hover title="Presione para moverse a la siguiente página"
                       v-on:click="permitirPasoCombo();pushCombo()" class="text-center positionNextButton"  >Siguiente
                       <b-icon icon="arrow-right-short" aria-hidden="true"></b-icon> </b-button>
                     <br><br>
                     <b-button pill  id="checkButton2" v-on:click="pantallaForm()" class=" propertiesCheckoutButton" disabled> Checkout </b-button>
               <br><br>
               <div>             
              <b-toast id="popCombos" title="Combos" static>
              Seleccione uno de los combos 
              </b-toast>
             </div>
              </b-card-group  >                 
          </div>
     <!-- ++++++++++++++++++++++++++++++++++++Sides CONTAINER+++++++++++++++++++++++++++++++++++++++++-->
       <div id="apagarSides_Cuadro"  class="hideContainer" >
              <br>
              <!-- titulo contener y buscador de acompañantes-->
             <div class="margin-left">
             <h4 id="sidesDesc" > Elige hasta {{sidesDelCombo[0]}} de las opciones:</h4>
                       <b-input-group >
                           <b-input-group-prepend is-text>
                           <b-icon icon="search" aria-hidden="true"></b-icon> </b-button>
                        
                           </b-input-group-prepend>
                           <input type="text" v-model="searchSides" placeholder="Buscar acompañantes..."/>
                                       
                       </b-input-group>
            
             </div>
                
 
             <b-card-group deck >
                 <b-card  style="height:20rem;min-width:40rem" border-variant="light"> 
                             <div v-if="Sides2!=null">
                          <b-list-group flush class="list1">
                              <div v-for="c1 in filteredListSides" :key="c1.item_name" >                          
                               <template > 
                               <b-list-group-item style="border:white">
                               <b-form-checkbox  @change="limitarSides();addRemoveSidesToArray(c1.item_id)"size="lg"   name="chSides"  :value ="c1.item_id" > {{c1.item_name}}    </b-form-checkbox>  
                                </b-list-group-item>              
                               </template>
                               </div>
                             </b-list-group>
                              </div>                 
                 </b-card>
                <b-card align= "center" border-variant="light">
                 <!--     Boton Siguiente pantalla acompañantes  -->
                <b-button  pill  v-b-tooltip.hover title="Presione para moverse a la siguiente página"
                  v-on:click=" permitirPasoSides()" class="text-center positionNextButton"  >Siguiente
                  <b-icon icon="arrow-right-short" aria-hidden="true"></b-icon> </b-button>
                  <br><br>
                 <!--     Boton Regresar pantalla acompañantes  -->
                 <b-button pill   v-b-tooltip.hover title="Presione para regresar a la página anterior"
                     v-on:click="revirarPantalla() "   class="text-center positionBackButton" >
                   <b-icon icon="arrow-left-short" aria-hidden="true"></b-icon>Regresar </b-button>
 
                    <br><br>
                     <b-button pill  id="checkButton2" v-on:click="pantallaForm()" class=" propertiesCheckoutButton" disabled > Checkout </b-button> 
                     <br><br>
                      <div>
                       <b-toast id="popAcompañantes" title="Acompañantes" static >
                         Selecciona {{sidesDelCombo[0]}} o menos acompañantes             
                         </b-toast>
                      </div>
                 </b-card>
              </b-card-group >
       </div>
 
           <!--++++++++++++++++++++++++++++++++++++Drinks CONTAINER+++++++++++++++++++++++++++++++++++++++++-->
  <div id="apagarDrinks_Cuadro" class="hideContainer ">
                       <br>
                      <div class="margin-left">
                       <h4 id="drinksDesc" >Elige una bebida :</h4>
                        <b-input-group >
                           <b-input-group-prepend is-text>
                           <b-icon icon="search" aria-hidden="true"></b-icon> </b-button>
                        
                           </b-input-group-prepend>
                            <input type="text" v-model="searchDrinks" placeholder="Buscar bebidas.."/>
                                       
                       </b-input-group>
                     
                       </div>
                 <b-card-group deck>
                               <b-card style="height:20rem;min-width:40rem" border-variant="light">
                           
                                 <div v-if="Drinks2!=null">
                                   <b-list-group flush class="list1">
                                     <div v-for="c1 in filteredListDrinks" :key="c1.item_name" >                          
                                       <template > 
                                         <b-list-group-item style="border:white">
                                         <b-form-checkbox @change="borrarDrinkAnterior(c1.item_id)" size="lg"  name="chDrinks"  :value ="c1.item_id" > {{c1.item_name}}    </b-form-checkbox>  
                                         </b-list-group-item>              
                                     </template>
                                   </div>
                                 </b-list-group>
                              </div>
                              </b-card>
                  <b-card align= "center" border-variant="light">
                   <!--     Boton Siguiente pantalla bebidas  -->
                   <b-button  pill  v-b-tooltip.hover title="Presione para moverse a la siguiente página"
                  v-on:click="limitarDrinks()" class="text-center positionNextButton"  >Siguiente
                 <b-icon icon="arrow-right-short" aria-hidden="true"></b-icon> </b-button>
                    <br><br>   
                  <!--     Boton Regresar pantalla bebidas -->
                 <b-button pill  v-b-tooltip.hover title="Presione para regresar a la página anterior"
                     v-on:click="revirarPantalla() "   class="text-center positionBackButton" >
               <b-icon icon="arrow-left-short" aria-hidden="true"></b-icon>Regresar </b-button> 
               <br><br>
               <b-button pill  id="checkButton2" v-on:click="pantallaForm()" class=" propertiesCheckoutButton" disabled> Checkout </b-button>      
             <br><br>
              <div>             
              <b-toast id="popDrinks" title="Bebidas" static>
              Seleccione una de las bebidas
              </b-toast>
             </div>
                </b-card>
                <b-card-group>
    </div>
         <!--++++++++++++++++++++++++++++++++++++Free Topping CONTAINER+++++++++++++++++++++++++++++++++++++++++-->
     <div id="apagarFreeToppings_Cuadro" class="hideContainer">
                       <br> 
                       <div class="margin-left">                         
                       <h4 id="freeToppingsDescription1" class= "hideContainer" > Selecciona todos los ingredientes deseados:</h4>
 
                       <h4 id="freeToppingsDescription2" class= "hideContainer"> Escoge hasta {{freeTDelCombo[0]}} ingredientes gratis:</h4>
                        <b-input-group >
                           <b-input-group-prepend is-text>
                           <b-icon icon="search" aria-hidden="true"></b-icon> </b-button>
                        
                           </b-input-group-prepend>
                           <input type="text" v-model="searchFreeToppings" placeholder="Buscar ingredientes.."/>
                                       
                       </b-input-group>
                      
                        </div>
                  <b-card-group deck>
                   
 
                                <b-card style="height:20rem;min-width:40rem" border-variant="light">
                                    <div v-if="RellenosGratis2!=null">
                                   <b-list-group flush class="list1">
                                    <div v-for="c1 in  filteredListFreeToppings" :key="c1.item_name" >                          
                                       <template > 
                                         <b-list-group-item style="border:grey;min-width:30rem">
                                         <b-form-checkbox @change=" addRemoveFreeToppingToArray(c1.item_id);checkFreeTNumber()" size="lg"  name="chFree"  :value ="c1.item_id" >
                                               
                                                   {{c1.item_name}}
                                                 <b> ${{c1.item_price}} </b> 
                                         </b-form-checkbox>  
                                         </b-list-group-item>              
                                     </template>
                                   </div>
                                 </b-list-group>
                                 </div>
                                 </b-card> 
                       <b-card align= "center" border-variant="light">
                           <!--     Boton Siguiente pantalla free toppingss  -->    
                           <b-button  pill  v-b-tooltip.hover title="Presione para moverse a la siguiente página"
                           v-on:click=" permitirPasoFreeTopping()" class="text-center positionNextButton"  >Siguiente
                           <b-icon icon="arrow-right-short" aria-hidden="true"></b-icon> </b-button>
                           <br><br>
                           <!--     Boton Regresar pantalla free toppings  -->
                             <b-button pill   v-b-tooltip.hover title="Presione para regresar a la página anterior"
                         v-on:click="revirarPantalla() "   class="text-center positionBackButton" >
                         <b-icon icon="arrow-left-short" aria-hidden="true"></b-icon>Regresar </b-button>
                         <br><br>
                         <b-button pill  id="checkButton2" v-on:click="pantallaForm()" class=" propertiesCheckoutButton" disabled> Checkout </b-button>
                         <br><br>
                         <b-toast id="popFree" title="Límite" static  auto-hide-delay:100>
                             Selecciona {{freeTDelCombo[0]}} o menos de los gratis                                                 
                             </b-toast>
                     </b-card>
                 <b-card-group>
 
                                                
      </div>
 
      <!--++++++++++++++++++++++++++++++++++++Pay Toppings CONTAINER+++++++++++++++++++++++++++++++++++++++++-->
       <div id="apagarPayToppings_Cuadro" class="hideContainer" >
                      <br>
                      <div class="margin-left">
                       <h4 id="payToppingsDescription" >Escoge hasta {{payLimitCombo[0]}} ingredientes gratis (opcional)</h4>
                         <b-input-group >
                           <b-input-group-prepend is-text>
                           <b-icon icon="search" aria-hidden="true"></b-icon> </b-button>
                        
                           </b-input-group-prepend>
                        
                             <input type="text" v-model="searchPayToppings" placeholder="Buscar ingredientes.."/>          
                       </b-input-group>
                       
                        </div>
               <b-card-group deck>
                       <b-card  style="height:20rem;min-width:40rem" border-variant="light">
                      <div v-if="PayToppings!=null">
                       <b-list-group flush class="list1">
                                  <div v-for="c1 in filteredListPayToppings" :key="c1.item_name" >                          
                                       <template > 
                                         <b-list-group-item style="border:white">
                                         <b-form-checkbox @change="addRemoveTPaytoArray(c1.item_id);updateExtraTPrice()" size="lg"  name="chPay"  :value ="c1.item_id" > {{c1.item_name}}
                                          <b>${{c1.item_price}} <b></b-form-checkbox>  
                                         </b-list-group-item>              
                                     </template>
                                   </div>
                       </b-list-group>
                       </div>
                       </b-card> 
                       <b-card align= "center" border-variant="light">
                      <!--     Boton Siguiente pantalla pay toppings  -->
                       <b-button  pill v-b-tooltip.hover title="Presione para moverse a la siguiente página"
                        v-on:click="pasarPantalla3()" class="text-center positionNextButton"  >Siguiente
                        <b-icon icon="arrow-right-short" aria-hidden="true"></b-icon> </b-button>
                        <br><br>
                       <!--     Boton Regresar pantalla pay toppings  -->
                         <b-button pill  v-b-tooltip.hover title="Presione para regresar a la página anterior"
                     v-on:click="revirarPantalla() "   class="text-center positionBackButton" >
                     <b-icon icon="arrow-left-short" aria-hidden="true"></b-icon>Regresar </b-button> 
                     <br><br>
                     <b-button pill  id="checkButton2" v-on:click="pantallaForm()" class=" propertiesCheckoutButton" disabled> Checkout </b-button>                                    
                     </b-card>
                </b-card-group>
 
       </div>
 
           <!--++++++++++++++++++++++++++++++++++++SPECIAL_INSTRUCTION Container & PREVIEW Container+++++++++++++++++++++++++++++++++++++++++-->
                     <div id="apagarSpecialInstruction_Cuadro" class="hideContainer" >
                           <div >
                          <!--++++++++++++++++++++++++++++++++SPECIAL INSTRUCTIONS Container +++++++++++++++++++++++++++++++++++++++-->
                           <b-card-group deck>
                               <b-card 
                                 title="¿Alguna especificación adicional?"
                                   align="center"
                                    
                                 class="mb-2"
                               >
                              
                               <b-card-text style= "font-size:17px">Descripción del combo: <br><b>{{currentCombo[0].c_description}}</b></b-card-text><br>
                               <b-form-textarea v-model="text" id="textarea" maxlength="50" placeholder="Escriba las especificaciones aquí..."   rows="2"  > </b-form-textarea><br>
                                 <!--Botón para sali de la pantalla de Special Instruction-->
                                 <b-button pill  v-b-tooltip.hover title="Presione para regresar a la página anterior"
                                 v-on:click="revirarPantalla() "   class="text-center " >
                                <b-icon icon="arrow-left-short" aria-hidden="true"></b-icon>Regresar </b-button>
                                 <!--Botón para mover combo seleccionado al carrito-->
                                 <b-button pill   v-b-tooltip.hover title="Presione para añadir lo escogido al carrito"
                                 v-on:click="añadirCombo();pasarMain();"  >Al carrito</b-button>     
                              
                          <!--++++++++++++++++++++++++++++++++PREVIEW Container +++++++++++++++++++++++++++++++++++++++-->    
                               </b-card>
 
                               <b-card min-width= "50rem"
                                title="Opciones seleccionadas del combo"
                               
                                >
                               <b-card-text>
                                 <!--     Muestra combo elegido -->
                                 Plato: <b>{{currentCombo[0].name}}</b><br>
                                 <div style= "font-size:18px"> {{text}}</div>
                                 <hr>
                               
                                 <div id="ingredientes" classs="hideContainer" >
                                 <!--     Muestra free y pay toppings  -->
                                               Ingredientes:
                                               <div v-if= "(currentFreeArray.length =='0') && (currentPayArray.length =='0')">
                                                 <b>N/A</b>
                                                 </div>
                                 </div><br>
                                 <div id="toppingInfo" classs="hideContainer">
                                     <div v-if= "currentFreeArray.length >'0'">
                                        
                                           <div v-for="freeItem in currentFreeArray" :key="freeItem.item_name" >
                                             <b>{{freeItem.item_name}} </b>
                                         </div>   
                                     </div>
                                     <div v-if= "currentPayArray.length >'0'">
                                                 
                                               <div v-for="payItem in currentPayArray" :key="payItem.item_name" >
                                                   <b>{{payItem.item_name}} </b>
                                               </div>   
                                           </div>
 
                                 </div>
                                     <!--     Muestra los acompañantes elegidos del combo -->
                                   <div id="sidesInfo" classs="hideContainer">
                                       Acompañantes:
                                       <div v-if= "(currentSidesArray.length =='0')">
                                                 <b>N/A</b>
                                                 </div>
                                       <div v-if= "currentSidesArray.length >'0'">
                                                  
                                               <div v-for="sides in currentSidesArray" :key="sides.item_name" >
                                                    <b>{{sides.item_name}}</b>
                                               </div>   
                                           </div>
                                   </div>
 
                                     <br> <!--     Muestra la bebida elegida del combo -->
                                    <div id="drinkInfo" classs="hideContainer"> Bebida: <b>{{currentDrinks[0].name}}</b>  <br> </div>
                                    <hr> <!--     Muestra el subtotal del combo elegido -->
                                    Precio: <b>$ {{currentCombo[0].c_price}}</b>
                                    <div v-if= "extraPrice_PayTopping[0] >'0'">
                                          <!--     Muestra el precio adicional por añadir pay toppings -->
                                                  Adicional de rellenos: <b>$ {{extraPrice_PayTopping[0]}}</b> 
                                                 
                                           </div>
                               </br>
                               </b-card-text>
                                
                             
                             </b-card>
                           </b-card-group deck>
                         </div>
 
                     </div>
 
 
 </div><!--End Combo Container-->
 
         <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ FORM Container  ++++++++++++++++++++++++++++++++++++++++++++++++++-->
         <div  id="apagarForm"  class="hideContainer listForm">
           <b-card border-variant="light" class="m-1"  >
                  <b-row>
                  <b-form-text  > campos requeridos<b-form-text>
                  <b-img   style="margin:-14% 0% -10% 100%" src="../images/required.png" alt="Delete"  width="10" height="10"></b-img>
                  </b-row>
                 <b-row> <!--    Campo para escribir el nombre-->
                
                     <b-col><b-form-group id="input-group-1" label="Nombre : " label-for="input-1" >
                     <b-img   style="margin:-10% 0% -10% 37%" src="../images/required.png" alt="Delete"  width="10" height="10"></b-img>
                    
                     <b-form-input id="input-1" v-model="name" :state="checkName"  maxlength="20"  required placeholder="Escriba su nombre"> </b-form-input>
                      <!-- Mensaje que aparece cuando el input es inválido -->
                       <b-form-invalid-feedback id="input-live-feedback">
                         Primer nombre sin espacios
                       </b-form-invalid-feedback>
                     </b-form-group> 
                     </b-col>
                     <b-col> <!--    Campo para escribir el apellido-->
                   <b-form-group id="input-group-2" label="Apellido : " label-for="input-2">
                   <b-img   style="margin:-10% 0% -10% 38%" src="../images/required.png" alt="Delete"  width="10" height="10"></b-img>
                     <b-form-input id="input-2" v-model="last_name" :state="checkLastName" maxlength="20" required placeholder="Escriba su apellido"  ></b-form-input>
                  <!-- Mensaje que aparece cuando el input es inválido -->
                       <b-form-invalid-feedback id="input-live-feedback">
                       Entre apellido sin espacios
                       </b-form-invalid-feedback>
                  </b-form-group>
                   </b-col>
                   <b-col><b-form-group id="input-group-3" label="Teléfono: " label-for="input-3" >
                   <b-img   style="margin:-10% 0% -10% 37%" src="../images/required.png" alt="Delete"  width="10" height="10"></b-img>
                   <b-form-input id="input-3" v-model="phone" :state="checkPhone" maxlength="12" required placeholder="Escriba su telefono de contacto"  ></b-form-input>
                      <!-- Mensaje que aparece cuando el input es inválido -->
                       <b-form-invalid-feedback id="input-live-feedback">
                       Verifique que sean 10 números
                       </b-form-invalid-feedback>
                 </b-form-group> </b-col>
               </b-row>
             <b-row>   <!--    Campo para escribir el teléfono-->
                
                 <b-col> <!--    Campo para escribir la extención del teléfono-->
                   <b-form-group id="input-group-4" label="Extensión: " label-for="input-4">
                   <b-form-input id="input-4" v-model="ext" :state="checkExt" maxlength="4" placeholder="Escriba la extensión (opcional)" ></b-form-input>
                     <!-- Mensaje que aparece cuando la extension es inválida -->
                   <b-form-invalid-feedback id="input-live-feedback">
                       Debe contener 4 dígitos solamente o nada si no tiene
                       </b-form-invalid-feedback>
                   </b-form-group> </b-col>
                          <!--    Campo para elegir el edificio -->
                   <b-col><b-form-group id="input-group-5" label="Localización: "  label-for="input-5">
                   <b-img   style="margin:-10% 0% -10% 51%" src="../images/required.png" alt="Delete"  width="10" height="10"></b-img>
                   <b-form-select class="mb-2 mr-sm-2 mb-sm-0"  id="input-5"  v-model="building" :state="checkBuilding"  :options="Building_Options"   >
                     <b-form-select-option :value="null" disabled >Por favor, eliga una alternativa</b-form-select-option>
 
                     </b-form-select>
                   </b-form-group> </b-col>
                 <b-col> <!--    Campo para escribir el número del salón-->
                   <b-form-group id="input-group-6" label="Salón: " label-for="input-6">
                   <b-img   style="margin:-10% 0% -10% 37%" src="../images/required.png" alt="Delete"  width="10" height="10"></b-img>
                   <b-form-input id="input-6"  :state="checkRoomNumber" v-model="room" maxlength="6" placeholder="Escriba el salón "  ></b-form-input>
                    <!-- Mensaje que aparece cuando el salón es inválido -->
                   <b-form-invalid-feedback id="input-live-feedback">
                       Ej: '200','4A'
                       </b-form-invalid-feedback>
                   </b-form-group> </b-col>
               </b-row> 
 
                 <b-row>    <!--    Campo para escribir el correo-->
                     <b-col> <b-form-group id="input-group-3" label="Email: "  label-for="input-3" >
                     <b-img   style="margin:-7% 0% -10% 18%" src="../images/required.png" alt="Delete"  width="10" height="10"></b-img>
                     <b-form-input id="input-3" v-model="email"  :state="checkEmail" maxlength="40" required placeholder="Escriba su email"  ></b-form-input>
                     <!-- Mensaje que aparece cuando el correo en inválido -->
                      <b-form-invalid-feedback id="input-live-feedback">
                      Ej: abcde@gmail.com
                       </b-form-invalid-feedback>
                     </b-form-group></b-col>
                    
                       <b-col>       <!--    Campo para seleccionar el método de pago-->
                     <b-form-group id="input-group-9" label="Método de pago: " label-for="input-9">
                     <b-img   style="margin:-7% 0% -10% 44%" src="../images/required.png" alt="Delete"  width="10" height="10"></b-img>
                       <b-form-radio id="input-9"  v-model="payment_method" name="payment" value="athmovil">ATH Móvil</b-form-radio>
                       <b-form-radio  v-model="payment_method"   name="payment" value="cash">Efectivo</b-form-radio>
                     </b-form-group>
                     </b-col>
                   </b-row>
                 <b-row>
                 <b-col>
                 <div v-for="t in Operating_Hours"  :key=" t.hourA">
                 <template>
                 <!--   Muestra el rango adecuando para hacer ordenes-->
                 Las órdenes solo serán atendidas en el horario de <b>{{t.hourA}}:{{t.minuteA}}{{time1}}</b> a <b>{{t.hourB}}:{{t.minuteB}}{{time2}}</b> de lunes a viernes
                 </template>
                 </div>
                 </b-col>
                 </b-row>
              
               <b-row > <!--    Botón para procesar y confirmar orden-->              
                     <b-col >               
                 
                     </b-col  >
                     <b-col cols="10" align="center" >
                     <b-button  pill  variant="danger" class=" redButton"  v-on:click="clearForm()" >Limpiar formulario</b-button>
                     <b-button  pill id="input-Summit"  v-model="payment_method"  :state="checkForm" v-on:click="moveForm();endClient();" disabled> Completar orden</b-button>
                     </b-col>
                     <b-col >               
                 
                     </b-col>
                 </b-row>
                
           </b-card>
 
         </div>  <!-- End FORM Container-->
 
 
              </b-card-group>
               </b-col>
               
          </b-row>
 
         </b-container>
 
 
</div><!--ULTIMO Div-->
 
<!--    Order Javascript  : Se dedica a realizar toda la logística de los métodos del Ordering System -->
             <script src="../js/order.js"></script>     
 
   </body>
</html>
<!--credit-card-->

